<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"  >
  
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class" >oracle.jdbc.driver.OracleDriver</property>        
        
        <property name="connection.url" >jdbc:oracle:thin:hr/oracle@localhost:1521/XE</property>
        
     <property name="hibernate.c3p0.idle_test_period">1000</property> 
     <property name="hbm2ddl.auto">create</property>

     <property name="show_sql">true</property>
     <property name="format_sql">true</property>  
  <!--  <mapping class="Hiber.DB.Accessory" package="Hiber.DB" resource=""/>
    <mapping class="Hiber.DB.CPU"  package="Hiber.DB" resource=""/>
    <mapping class="Hiber.DB.HDisk"  package="Hiber.DB" resource=""/>
    <mapping class="Hiber.DB.Host" package="Hiber.DB" resource=""/>
    <mapping class="Hiber.DB.Monitor"  package="Hiber.DB" resource=""/>
    <mapping class="Hiber.DB.Network"  package="Hiber.DB" resource=""/>
    <mapping class="Hiber.DB.User"  package="Hiber.DB" resource=""/> -->
    </session-factory>
</hibernate-configuration>