<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>jl.Servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>authPage</servlet-name>
        <servlet-class>jl.Servlet.AuthenticationPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authPage</servlet-name>
        <url-pattern>/authPage</url-pattern>
    </servlet-mapping>
</web-app>
